# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# CatBoost logs
catboost_info/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db